<script src="/static/js/auth.js"></script>
<script src="/static/js/api.js"></script>
<script src="/static/js/ui.js"></script>
<script src="/static/js/worker-resolver.js"></script>
<% if (typeof pageScript !== 'undefined' && pageScript) { %>
  <script src="/static/js/pages/<%= pageScript %>.js"></script>
<% } %>
</body>
</html>
